name: dionysos
description: A Video Player, comic and novel reader for Windows and Android
  written in Flutter.
publish_to: none

version: 2.0.0-beta.34

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter
  # Icons
  # cupertino_icons: ^1.0.2
  country_flags: ^3.0.0

  # Utils
  flutter_dispose_scope: ^2.0.0
  async: ^2.13.0
  quiver: ^3.2.2
  timeago: ^3.7.0
  pub_semver: ^2.1.4
  uuid: ^4.5.1
  archive: ^4.0.7
  logger: ^2.4.0
  rhttp: ^0.13.0
  path: ^1.9.0
  flutter_cache_manager: ^3.4.1
  inline_result: ^2.0.0
  awesome_extensions: ^2.0.26
  path_provider: ^2.1.5
  intl: ^0.20.2
  moment_dart: ^5.2.3
  # Widgets
  go_router: ^14.3.0
  scrollable_positioned_list: ^0.3.8
  media_kit: ^1.2.3 # Primary package.
  media_kit_video: ^2.0.1 # For video rendering.
  media_kit_libs_video: ^1.0.7 # Native video dependencies.
  audio_video_progress_bar: ^2.0.3
  super_sliver_list: ^0.4.1

  # Platform
  shared_preferences: ^2.3.4
  url_launcher: ^6.3.1
  desktop_drop: ^0.5.0
  file_selector: ^1.0.3
  share_plus: ^10.1.1
  restart_app: ^1.2.1
  package_info_plus: ^8.1.0
  install_plugin: ^2.1.0
  audio_service: ^0.18.18
  wakelock_plus: ^1.3.2

  google_fonts: ^6.3.3
  system_fonts: ^1.0.1

  metis:
    git:
      url: https://github.com/bldng1337/metis.git
      ref: ec2ebeaf7cb744b2f47374938a5680f180aa5373
  rdion_runtime:
    git:
      url: https://github.com/bldng1337/dion-runtime.git
      path: dart/rdion_runtime/
      ref: 51ab5587861250c2c1370caf04c63ea2560d3c56

  # pdfx: ^2.8.0
  # flutter_inappwebview: ^6.1.5
  # feedback: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  mocktail: ^1.0.4

  build_runner: ^2.2.0

  flutter_lints: ^6.0.0
  lint: ^2.0.0

  flutter_launcher_icons: ^0.14.1
  inno_bundle: ^0.5.0

flutter:
  uses-material-design: true
  assets:
    - assets/icon/icon.png

flutter_launcher_icons:
  android: launcher_icon
  image_path: assets/icon/icon.png
  adaptive_icon_background: "#ffffff"
  adaptive_icon_foreground: "assets/icon/icon.png"
  min_sdk_android: 21
  windows:
    generate: true
    image_path: assets/icon/icon.png
    icon_size: 48

inno_bundle:
  id: 79666d46-1ad2-5190-9e30-fb4f1f0e093a
  publisher: bldng
  name: dion
  installer_icon: windows/runner/resources/app_icon.ico
